# ==============================
# .NET / C#
# ==============================
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.exe
*.dll
*.sln.docstates

# Visual Studio
.vs/

# VS Code
.vscode/

# ==============================
# Angular / Node.js
# ==============================
node_modules/
dist/
.angular/
.cache/

# ==============================
# SonarQube / SonarScanner
# ==============================
**/.sonarqube/
**/.scannerwork/
*.sonar_lock
report-task.txt

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Environment variables
# ==============================
.env
.env.*

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Development configuration
# ==============================
appsettings.Development.json