# ========================
# .NET
# ========================
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.exe
*.dll

# ========================
# Visual Studio
# ========================
.vs/
*.sln.docstates

# ========================
# Angular / Node
# ========================
node_modules/
dist/
.angular/
.cache/

# ========================
# Logs
# ========================
*.log

# ========================
# Environment files
# ========================
.env
.env.*

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# VS Code
# ========================
.vscode/